body {
    font-size:1.1em;
    font-family: 'Palatino', 'Arial', serif;
}

.grid .left {
    width:7em;
    font-size:1.1em;
    display:inline-block;
    box-sizing:border-box;
    text-align:right;
    font-weight:bolder;
}
  
.grid .right{
    text-align:left;
    padding-left:10px;
    font-size:1.1em;
    width:100px;
    display:inline-block;
    box-sizing:border-box;
}

h1 {
    font-size:2em;
}

input {
    font-size:0.9em;
}

h3 {
    font-size:1.2em;
}

button {
    font-size:0.9em;
    font-weight:bold;
    padding: 1em;
    background-color:lightgreen;
}

.pageWidth {
    width:40%;
}

.small {
    font-size:0.8em;
}

